@font-face {
  font-family: 'MinhaFonte'; 
  src: url('/assets/cream.ttf') format('truetype'); /* Caminho para o arquivo */
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'MinhaFonte', sans-serif;
  }
  
  h1 {
    text-shadow: 2px 2px 4px #f98c8c;
  }
  
  .btn {
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid #FFFFFF;
  }
  
  .btn:hover {
    background-color: rgb(255, 128, 196);
    color: white;
    border: 5px solid #FFFFFF;
  }
  
  img {
    border: 5px solid #000000;
  }
  

  #background-stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f98c8c; /* Rosa de fundo */
    overflow: hidden;
  }
  