@font-face {
  font-family: 'MinhaFonte'; 
  src: url('/assets/cream.ttf') format('truetype'); /* Caminho para o arquivo */
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'MinhaFonte', sans-serif;
  }
  
#background-stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f98c8c; /* Rosa de fundo */
    overflow: hidden;
}