<canvas id="background-stars"></canvas>
<div
  class="container text-center py-5"
  style="position: relative; z-index: 1; width: 50vh"
>
  <div class="mb-4">
    <img
      src="assets/profile.jpg"
      alt="Foto de Sophia Kornalewski"
      class="rounded-circle shadow"
      style="width: 150px; height: 150px; object-fit: cover"
    />
  </div>
  <h1 class="mb-4" style="font-size: 3rem; color: black;">Sophsopi</h1>
  <div class="d-grid gap-3">
    <a
      href="https://www.instagram.com/sophsopi/"
      class="button-sopi fs-3"
      target="_blank"
    >
      Instagram
    </a>
    <a href="/portfolio" class="button-sopi fs-3" target="_blank">
      Portfolio
    </a>
    <a
      href="https://www.instagram.com/sophsopi.ttt/"
      class="button-sopi fs-3"
      target="_blank"
    >
      Tattoos
    </a>
  </div>
</div>
